<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutPadrao">
<head>
<meta charset="UTF-8">
<title>Bem-vindo</title>
</head>
<body>
	<section layout:fragment="conteudo">
		<div class="container">

			<h1>Bem-vindo user</h1>

		</div>
		<div class="cards-eventos">
		<div class="card mb-3 card-fundo"  style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="/imagens/Rock.jpg"
						style="width: 250px; height: 230px;" class="img-thumbnail">
				</div>
				<div class="col-md-8">
					<div class="card-body card-letras">
						<h5 class="card-title"> Rock in Rio</h5>
						<h6 class="card-text"> Show Rock in Rio</h6>
						<h6 class="card-text"> Preço do ingresso: R$ 500,00</h6>
						<h6 class="card-text"> Data: 20/02/2020</h6>
						<h6 class="card-text"> Local: Parque Olímpico da Barra - Avenida Embaixador Abelardo Bueno</h6>
						<h6 class="card-text"> Ingressos Restantes: 15.000</h6>
						<button type="button" class="btn btn-warning">Comprar</button>
						<p class="card-text">
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="card mb-3 card-fundo "  style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="/imagens/warung.jpg" style="width: 250px; height: 230px;"
						class="img-thumbnail img-tamanho">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">Warung Day Festival</h5>
						<h6 class="card-text">Show Warung Day Festival</h6>
						<h6 class="card-text">Preço do ingresso: R$ 480,00</h6>
						<h6 class="card-text">Data: 25/04/2020</h6>
						<h6 class="card-text"> Local: Parque das Pedreiras - R. João Gava, 970</h6>
						<h6 class="card-text"> Ingressos Restantes: 800</h6>
						<button type="button" class="btn btn-warning">Comprar</button>
						<p class="card-text">
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="card mb-3 card-fundo"  style="max-width: 540px;">
			<div class="row no-gutters">
				<div class="col-md-4">
					<img src="/imagens/soja.jpg" style="width: 250px; height: 230px;"
						class="img-thumbnail">
				</div>
				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title">SOJA</h5>
						<h6 class="card-text">Show Soja</h6>
						<h6 class="card-text">Preço do ingresso: R$ 80,00</h6>
						<h6 class="card-text">Data: 20/05/2020</h6>
						<h6 class="card-text"> Local: Wet'n Wild- Salvador</h6>
						<h6 class="card-text"> Ingressos Restantes: 300</h6>
						<button type="button" class="btn btn-warning">Comprar</button>
						<p class="card-text">
						</p>
					</div>
				</div>
			</div>
		</div>
		</div>
	</section>
	<script src="/js/bootstrap.min.js"></script>
</body>
</html>
